body {
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
}

/* CSS Beranda */
.header {
    height: 70px;
    padding-top: 10px;
}

.logo img {
    width: 50px;
    float: left;
    padding-right: 30px;
}

.navbar {
    float: left;
    margin-top: 10px;
    padding-right: 30px;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    color: #3d3b38;
}

.navbar :hover {
    color: #00BFA6;
}

.navbar-masuk {
    float: right;
    margin-top: 10px;
    padding-right: 20px;
    font-weight: 600;
}

.navbar-masuk a {
    text-decoration: none;
    color: #3d3b38;
}

.navbar-masuk :hover {
    color: #00BFA6;
}

.navbar-daftar {
    float: right;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 50px;
    width: 100px;
}

.navbar-daftar button {
    background-color: #00BFA6;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: -30px;
}

.navbar-daftar button:hover {
    background-color: #02af98;
}

.navbar-daftar a {
    text-decoration: none;
    color: #3d3b38;
    text-align: center;
}

.navbar-daftar :hover {
    color: white;
}

.main {
    background-color: whitesmoke;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 30px;
    height: 1500px;
}

.judul-tentangkami {
    text-align: left;
    margin-left: 80px;
}

.profile {
    margin-top: 20px;
}

.judul-profile {
    text-align: center;
}

.eriy-profile {
    margin-top: 30px;
    text-align: center;
}

.eriy-profile img {
    width: 300px;
}

.text-profile {
    text-align: center;
}

.text-profile h4 {
    font-weight: 500;
    margin-top: -10px;
}

.text-profile p {
    color: rgb(80, 79, 79);
}

.hero-isi img {
    width: 500px;
    margin-left: 20px;
}

.ringkasan-perusahaan {
    margin-top: 50px;
}

.ringkasan-perusahaan .judul {
    text-align: center;
}

.ringkasan-perusahaan .isi {
    margin-top: 50px;
}

.text-isi {
    float: right;
    margin-top: -300px;
    margin-right: 500px;
}

.text-isi p {
    font-weight: 500;
}

.lokasi {
    margin-top: 50px;
}

.lokasi .judul {
    text-align: center;
}

.lokasi .isi {
    margin-top: 50px;
}

.lokasi .isi img {
    height: 300px;
    float: right;
    margin-right: 50px;
}

.lokasi .isi {
    margin-left: 80px;
}

.lokasi .isi button {
    background-color: #00BFA6;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.lokasi .isi button:hover {
    background-color: #02af98;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    color: #02af98;
}

.footer-logo {
    margin-left: 30px;
    float: left;
    margin-top: 20px;
}

.footer-logo img {
    width: 80px;
    margin-top: 20px;
}

.footer-pelajaran {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}

.footer-dukungan {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}

.footer-sosmed {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}

.footer-logososmed {
    float: left;
    margin-left: 60px;
    margin-top: 40px;
}

.footer-logososmed img {
    width: 35px;
    margin-right: 20px;
    cursor: pointer;
}